@font-face {
    font-family: RobotoBlack;
    src: url(./fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: UbuntuR;
    src: url(./fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: UbuntuR;
    src: url(./fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: UbuntuB;
    src: url(./fonts/Ubuntu-Bold.ttf);
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: rgb(199 247 255)
}

header{
    width: 90%;
    background: linear-gradient(90deg, rgba(246,244,247,0.6362920168067228) 25%, rgba(28,154,176,1) 75%);
    flex-direction: column;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 50px;
    margin-left: 5%;
}


nav {
    flex-direction: row;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 70%;
    border-bottom: 2px solid black;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;

}

header li {
    list-style: none;
    text-transform: uppercase;
    font-family: RobotoBlack;
    font-size: 1.3em;

}
a{
    text-decoration: none;
    color: black;
    outline: none;
}

a:hover{
    color: rgb(45, 79, 230);
    font-size: 1.5em;
    transition: all 0.5s;
    transition-timing-function: ease-in;
}

.encabezado{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 90%;
}

h1{
    text-transform: uppercase;
    font-family: RobotoBlack;
    font-size: 2em;
}

h3{
    text-transform: uppercase;
    font-family: RobotoBlack;
    font-size: 1.2em;
}

.Paquetes{
    width: 100%;
    padding-top: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}

.recuadro{
    width: 23%;
    background: linear-gradient(0deg, rgba(28,154,176,1) 5%, rgba(245,244,244,1) 75%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}


.Paquetes img{
    width: 80%;
    margin: 20px;
    border-radius: 50px;
}

button{
    margin: 20px;
    width: 50%;
    height: 50px;
    text-transform: uppercase;
    font-family: UbuntuL;
    font-size: 2em;
    border-radius: 50px;
    transition: all 0.5s;
    transition-timing-function: ease-out;

}

button:hover{
    background-color: rgb(45, 79, 230);
    transform: scale(1.2);

}

.destino{
    text-transform: uppercase;
    font-family: UbuntuB;
    font-size: 2em;

}

.duracion{
    text-transform: uppercase;
    font-family: UbuntuR;
    font-size: 1.5em;

}

.precio{
    text-transform: uppercase;
    font-family: UbuntuB;
    font-size: 2.5em;
}

.info1{
    width: 88%;
    height: 300px;
    background: rgb(28,154,176);
    margin-left: 5%;
    margin-top: 30px;
    display: grid;
    grid-column-gap: 20px ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    border-radius: 50px;
    padding: 10px 20px 30px 20px;

}

.parrafo-info1 {
    font-family: UbuntuB;
    font-size: 2em;
    text-transform: uppercase;
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}

i:hover {
    color: rgb(45, 79, 230);
    transform: scale(1.4);
    transition: all 0.5s;
    transition-timing-function: ease-in;
}

.elemento1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

.elemento2{
    display: flex;
    justify-content: space-around;
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: UbuntuR;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

.elemento3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

.elemento4{
    display: flex;
    justify-content: space-around;
    grid-column: 2/3;
    grid-row: 3/4;
    font-family: UbuntuR;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;

}

.elemento5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 3/4;
    grid-row: 2/3;
}

.elemento6{
    display: flex;
    justify-content: space-around;
    grid-column: 3/4;
    grid-row: 3/4;
    font-family: UbuntuR;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

.info2{
    width: 88%;
    height: 300px;
    background: rgb(28,154,176);
    display: grid;
    grid-column-gap: 20px ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    margin-left: 10%;
    border-radius: 50px;
    padding: 10px 20px 30px 20px;
    margin-left: 5%;
    margin-top: 30px;

}

.parrafo-info2 {
    font-family: UbuntuB;
    font-size: 2em;
    text-transform: uppercase;
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
}

.elemento7{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

.elemento8{
    display: flex;
    justify-content: space-around;
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: UbuntuR;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

.elemento9{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

.elemento10{
    display: flex;
    justify-content: space-around;
    grid-column: 2/3;
    grid-row: 3/4;
    font-family: UbuntuR;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;

}

.elemento11{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 3/4;
    grid-row: 2/3;
}

.elemento12{
    display: flex;
    justify-content: space-around;
    grid-column: 3/4;
    grid-row: 3/4;
    font-family: UbuntuR;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

.elemento13{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 4/5;
    grid-row: 2/3;
}

.elemento14{
    display: flex;
    justify-content: space-around;
    grid-column: 4/5;
    grid-row: 3/4;
    font-family: UbuntuR;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

.info3{
    width: 88%;
    height: 250px;
    background: rgb(28,154,176);
    margin-left: 5%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 50px;
    padding: 10px 20px 50px 20px;
}

.contenedor-imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenedor-imagenes img {
    width: 150px;
    transition: all 0.5s;
    border-radius: 20px;
}

.contenedor-imagenes img:hover {
    transform: scale(1.3);
}

.contacto{
    width: 88%;
    height: 500px;
    background: rgba(28, 154, 176, 0.518);
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 50px;
    padding: 10px 20px 30px 20px;
    display: grid;
    grid-column-gap: 20px ;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr 2fr;
}

.contacto-titulo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: UbuntuB;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

.contacto-subtitulo1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: UbuntuR;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}

.contacto-subtitulo2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: UbuntuR;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}

.contacto-calle1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: UbuntuL;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
}

.contacto-calle2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
    grid-row: 3/4;
    font-family: UbuntuL;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
}

.contacto-mail1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/2;
    grid-row: 4/5;
    font-family: UbuntuL;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
}

.contacto-mail2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
    grid-row: 4/5;
    font-family: UbuntuL;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
}

.contacto-numero1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/2;
    grid-row: 5/6;
    font-family: UbuntuL;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
}

.contacto-numero2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
    grid-row: 5/6;
    font-family: UbuntuL;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
}

.sociales{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/3;
    grid-row: 6/7;
}

.imagen-maps{
    grid-column: 3/4;
    grid-row: 1/7;
    display: flex;
    align-items: center;
}

.imagen-maps img{
    width: 90%;
    border-radius: 50px;
    padding: 20px 20px 20px 20px;
}

footer{
    display: flex;
    justify-content:center;
}
